body {
    padding-top: 50px;
    background: #f6f6f6;
}

.nav-link {
    transition-duration: .25s;
    margin-right: 35px;
    transition: .15s;
}
.nav-link.active {
    color: white;
    background-color: var(--blue);
    border-radius: .25rem;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
    transition: .15s;
}

.nav-header {
    color: #a2a9b1;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 5px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.nav-brand {
    margin: 10px;
    width: 64px;
    height: 64px;
}

.mobile-nav {
    display: none;
}

@media (max-width: 767.98px) {
    .mobile-nav {
        display: flex;
    }
    body {
        padding-top: 70px;
    }
    .offscreen-collapse {
        position: fixed;
        z-index: 10;
        background: white;
        padding: 25px;
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
        top: 56px;
        right: 100%;
        bottom: 0;
        width: 55%;
        min-width: 145px;
        transition-duration: .3s;
        overflow-x: hidden;
    }
    .offscreen-collapse.open {
        transform: translateX(100%);
        transition-duration: .3s;
    }
    .nav-link {
        margin-right: 0;
    }
}

.lang-jp {
    font-family: "Noto Sans CJK JP", sans-serif;
}

.form-check-label {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.list-group-item-action {
    cursor: pointer;
    user-select: none;
}

::-webkit-scrollbar {
    width: 8px;
}
  
::-webkit-scrollbar-thumb {
    background: #bbb;
    border-radius: 4px;
}

::-webkit-scrollbar-track {
    background: rgba(1, 1, 1, 0);
}